:root{
    /* za koristenje rem mjera */
    font-size: 16px;
    font-family: 'Montserrat';

    --text-primary: #ececec;
    --text-secondary: #ececec;
    --bg-primary: #337895;
    --bg-secundary: #F89B3E;

    /* za navigaciju */
    --transition-speed: 600ms;
}

body{
    margin: 0;
    padding: 0;
    background-color: #7bbddf;
}

/* Tako da se sadrzaj ne sakrije iza navigacije */
main {
    margin-left: 5rem;
    margin-top: 0;
    background-image: url('../img/Bcg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    will-change: transform;
}

/* Za scrollbar */
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
    background: var(--bg-secundary);
}