:root{
    /* za koristenje rem mjera */
    font-size: 16px;
    --bg-primary: #337895;
    --bg-secundary: #F89B3E;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-image: url('../img/Bcg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}