:root{
    --element-background: rgba(255, 255, 255, .4);
    --orange: rgb(248, 155, 62);
}

body{
    font-size: 16px;
    font-family: 'Montserrat';
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */ 
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.add-glass-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: calc(100vh - 2rem);
}

.add-glass{
    width: 40%;
}

.add-title{
    font-size: 40px;
    color: white;
}

.add-panel{
    padding: 20px;
    background-color: var(--element-background);
    border-radius: 20px;
}

.add-dropdown-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.add-radio-button-container{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.add-radio-button-div-container{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

/* Default style for the radio button */
.ad-radio-button {
    /* Set the default background color to gray */
    background-color: gray;
  }

  /* Style the radio button when it is selected */
  .ad-radio-button:checked {
    /* Set the selected background color to orange */
    background-color: orange;
  }

  /* Optional: Style the label associated with the radio button */
  .add-input-label {
    /* Add some padding to the label to make it more clickable */
    padding: 5px;
  }

.add-dropdown{
    padding: 10px 5px 10px 5px;
    border-radius: 15px;
    background-color: var(--element-background);
    width: 400px;
}

.addDjelatnici-dropdown{
    border: none;
}

.addBrodovi-dropdown{
    border: 1.5px solid var(--orange);
}

.add-input-title{
    font-size: 20px;
    color: rgb(1, 51, 88);
    margin: 20px 0px 10px 0px;
}

.add-inputs-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.add-input-container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.inputField{
    width: 130px;
    border: none;
    background-color: var(--element-background);
    border-radius: 15px;
    padding: 10px 5px 10px 5px;
    color: #757575;
}

.color-grey{
    color: #757575;
}

.addDjelatnici-dropdown-container{
    margin-top: 20px;
}

.add-input-container-flex2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    gap: 20px;
}

.add-small-container{
    width: 100%;
}

.add-input-group-flex{
    width: 100%;
}

.add-input{
    width:100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 10px 10px 10px;
}
.add-input-first{
    border-radius: 15px 15px 0px 0px;
    border-bottom: 1.5px solid orange !important;
}

.add-input-middle{
    border-radius: 0px 0px 0px 0px;
    border-bottom: 1.5px solid orange !important;
}

.add-input-last{
    border-radius: 0px 0px 15px 15px;
}

.add-input-last-right{
    border-radius: 0px 0px 15px 0px;
}

.add-input-last-left{
    border-radius: 0px 0px 0px 15px;
}

.add-razlika-container{
    display: flex;
    justify-content: space-between;
}

.add-razlika-left{
    width: 70%;
}

.add-razlika-right{
    width: 30%;
    padding: 0;
}

.add-panel-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-text-area-container {
    display: flex;
    justify-content: center;
}

.add-text-area {
    width: 80%;
    font-size: 18px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    border: none;
}

.add-panel-left-content-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.add-button-ocisti {
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-radius: 20px;
    color: #DA1A20;
    border: 1px solid #DA1A20;
    font-weight: 400;
}

.add-button-rezerviraj{
    background-color: #337895;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-radius: 20px;
    border: 1px solid #337895;
    font-weight: 400;
    color: white;
}

.add-panel-left-content-bottom-right-side{
    width: 50%;
}
.add-input-group-flex-left-half {
    border-right: 1.5px solid var(--orange);
}

/* CALCULATOR */

.calculator-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 600px){
.add-glass-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.add-glass{
    width: 85%;
    margin: auto;
}
.add-title{
    font-size: 28px;
    margin: 20px 0px 30px 0px;
}

.add-dropdown{
    width: 200px;
}

.add-radio-button-container{
    flex-direction: column;
    gap: 0px;
}

.add-inputs-top{
    flex-direction: column;
    gap: 20px;
}

.add-input-container-flex2{
    flex-direction: column;
}

.add-text-area{
    width: 100%;
}

/* CALCULATOR */

.calculator-container{
    flex-direction: column;
    gap: 10px;
}


.calculator-container-input{
    flex-direction: row;
}

}