.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e4d04b;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0863a2;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0863a2;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.set-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.set-title{
    font-size: 2rem;
    font-weight: 400;
    color: #212529;;
}

.set-switch-text{
    font-size: 1rem;
    font-weight: 400;
    color: #212529;;
}

.set-formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.set-inputFlex{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.set-inputField{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px solid black;
    background-color: rgba(250, 250, 250, 0.70);
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: none;
}
  
th, td {
    text-align: left;
    padding: 3px;
}

tr:nth-child(even){background-color: #becad3}
tr:nth-child(odd){background-color: #d3e2ed}

th {
    background-color: #F89B3E;
    color: white;
}

.set-container{
    width: 30%;
    margin-top: 2rem;

    background-color: rgba(250, 250, 250, 0.7);;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 2px solid #F89B3E;
}

.set-userFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.w90{
    width: 90%;
}

.w45{
    width: 45%;
}

.h{
    height: 100px;
}

.fullWidth{
    width: 100%;
}

.set-flex{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.col-black{
    color: black;
}

/* POP UP */
.blurForClearFormPopup.active{
    filter: blur(15px);
    pointer-events: none;
    user-select: none;
    --webkit-user-select: none;
  }
  
  .clearFormPopup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  
    /* Glass efekt */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.60);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .clearFormPopup.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }

@media only screen and (max-width: 500px) {
    .set-flex{
        flex-direction: column;
        align-items: center;
    }
    .set-container{
        width: 90%;
    }
    .fullWidth{
        width: 100%;
    }
    .set-title{
        font-size: 25px;
        font-weight: 400;
        text-align: center;
    }
}
  