/* PRIVREMENO TEK TOLKO DA VIDIM DAL RADI */
h1
{
    font-size: 1.5em;
    font-weight: bold;
    color: #f80707;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #e4e4e4;
}